
main{
    background:linear-gradient(to right,#105b6f,#cee195);
}
#logo{
    position:relative ;
    width: 100px;
    height: 100px;
    border: solid 10px rgb(97, 64, 26);
    border-radius: 60px;
}
#about,#about:visited{
    text-decoration: none;
    color: rgb(0,0,0);
}
#about:hover{
    text-shadow: rgb(255,255,255);
}
