@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #995427 16.62%, #694d3e 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 10px;
}

.cabecalho-menu-item {
    font-family: 'Jost', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 32px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #ffffff;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
    font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
}

.conteudo-principal-escrito-botao {
  background-color: #ffffff;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  transition: all 0.8s linear;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(206, 206, 206, 0.53);
}

.conteudo-principal-imagem {
    height: 530px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #ffffff;
  padding-top: 48px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #ffffff;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
p{
    font-size: 24px;
    color:#ffffff;
}
h2{
  text-align: center;
  color: #fff;
  font-family: 'Jost', sans-serif;
  font-size: 28px;
}
.icon{
  width: 30px;
  height: 30px;
}