@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body { 
    margin: 0%;
    background-image: url(/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1,h3{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 1s;
}
h1:hover,h3:hover{
    color: white;
    text-shadow: 0 0 8px white;
}
main{
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
}
a{
    width: 25px;
    height: 25px;
    border: solid 1px;
    border-radius: 90px;
    background-color: white;

}


